<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:title="${question.getTitle()}">问题</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/css/community.css">
    <script src="/js/jquery-3.4.1.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/moment.min.js"></script>
    <script src="/js/community.js"></script>
</head>
<body>
<div th:replace="navigation :: copy"></div>
<div class="container main">
    <div class="row">
        <div class="col-md-9 col-sm-12">
            <h3 th:text="${question.getTitle()}"></h3>
            <span class="text-desc">
                作者：<span th:text="${question.user.name}"></span> |
                发布于<span th:text="${#calendars.format(question.getGmtCreate(), 'yyyy-M-d H:m:s')}"></span> |
                阅读数：<span th:text="${question.viewCount}"></span>
            </span>
            <hr>
            <p th:text="${question.description}"></p>
            <hr>
            <!--tag-->
            <span class="label label-info community-tag" th:each="tag : ${question.tag.split(';')}">
                <span class="glyphicon glyphicon-tag"></span>
                <span th:text="${tag}"></span>
            </span>
            <!--编辑-->
            <hr>
            <a href="#" th:href="@{/publish/{id}(id=${question.id})}" class="text-desc"
               th:if="${session.user != null && session.user.id == question.user.id}">
                <span class="glyphicon glyphicon-pencil"></span>&nbsp;编辑
            </a>
            <hr>
            <h4>[[${question.commentCount}]]个回复</h4>
            <hr>
            <!--问题的评论-->
            <div class="media" th:each="comment : ${comments}">
                <div class="media-left">
                    <a href="#">
                        <img class="media-object avatar" src="" th:src="${comment.user.avatarUrl}" alt="">
                    </a>
                </div>
                <div class="media-body">
                    <h6 th:text="${comment.user.name}" class="commenter"></h6>
                    <p th:text="${comment.content}"></p>
                    <div class="comment-footer">
                        <span class="glyphicon glyphicon-thumbs-up icon"></span>
                        <span class="glyphicon glyphicon-comment icon" onclick="collapse(this)"
                              th:data-id="${comment.id}"></span>
                        <span class="" th:text="${comment.commentCount}"></span>
                        <span th:class="time"
                              th:text="${#calendars.format(comment.gmtCreate, 'yyyy-M-d H:m:s')}"></span>
                    </div>
                    <!--二级评论-->
                    <div class="collapse" th:id="${'comment-' + comment.id}">
                        <div class="well" th:id="${'well_' + comment.id}">
                            <!--二级评论回复框-->
                            <div class="row">
                                <div class="col-xs-11">
                                    <input type="text" class="form-control"
                                           th:id="${'input_' + comment.id}"></div>
                                <div class="col-xs-1">
                                    <button class="btn btn-success pull-right" type="submit"
                                            th:data-content-id="${'input_' + comment.id}"
                                            data-parent-type="2"
                                            th:data-parent-id="${comment.id}"
                                            onclick="comment(this)">回复
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <hr class="hr-comment">
            </div>
            <!--回复框-->
            <div>
                <div th:if="${session.user != null}">
                    <img th:src="${session.user.avatarUrl}" class="avatar img-rounded" alt="" src="">
                    <span th:text="${session.user.name}"></span>
                </div>
                <input type="hidden" id="question_id" th:value="${question.id}">
                <textarea id="comment" rows="8" class="form-control comment"></textarea>
                <button class="btn btn-success btn-comment" th:data-id="${question.id}"
                        data-content-id="comment"
                        data-parent-type="1"
                        th:data-parent-id="${question.id}"
                        onclick="comment(this)">回复
                </button>
            </div>
        </div>
        <div class="col-md-3 col-sm-12">
            <h4>发起人</h4>
            <img th:src="${question.user.avatarUrl}" class="avatar img-rounded" alt="" src="">
            <span th:text="${question.user.name}"></span>
            <hr>
            <h4>相关问题</h4>
            <ul class="related-question">
                <li th:each="question : ${relatedQuestions}">
                    <a href="" th:href="@{/question/{id}(id = ${question.id})}" th:text="${question.title}"></a>
                </li>
            </ul>
        </div>
    </div>
</div>
</body>
</html>